.about-us-container {
  margin-top: 120px;
    align-items: center;
    min-height: 400px;
  }
  
  .equipo-majo {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

.imagen-majo {
    width: 450px; /* Ajusta el tamaño según tus necesidades */
    height: 500px; /* Asegúrate de que la altura y la anchura sean iguales */
    border-radius: 50%; /* Esto hace que la imagen sea circular */
    object-fit: cover; /* Esto asegura que la imagen se ajuste bien dentro del contenedor circular */
  }
  
.container-info-majo{
    display: flex;
    justify-content: center;
    margin: 40px;
}