.admin-container {
  background-color: #f9f9f9;
  font-family: 'Arial', sans-serif;
}

.tag-h1 {
  font-family: 'Arial Black', Gadget, sans-serif; /* Fuente llamativa */
  font-size: 2rem; /* Tamaño grande */
  color: #5598c4; /* Color vibrante */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra de texto */
  background: linear-gradient(to right, #5598c4, #0766a5); /* Degradado de fondo */
  background-clip: text; /* Propiedad estándar */
  -webkit-background-clip: text; /* Propiedad con prefijo para compatibilidad */
  -webkit-text-fill-color: transparent; /* Texto transparente para mostrar el degradado */
  text-align: center; /* Centrado */
  margin: 1.5rem; /* Espacio inferior */
  padding: 0.5rem; /* Relleno */
  border-radius: 10px; /* Bordes redondeados */
  border: 2px solid #5598c4; /* Borde */
}

.form-and-list {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  flex-wrap: wrap;
  padding-right: 2.5rem; /* Permite que los elementos se envuelvan */
}

.form-container-admin,
.admin-list {
  background-color: #dddcdc;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  max-width: 45%; /* Ancho máximo para ambos contenedores */
  flex: 1; /* Flex para que ocupen el espacio disponible */
  margin-right: 1rem; /* Espacio entre los contenedores */
  min-width: 300px; /* Ancho mínimo para pantallas pequeñas */
  min-height: 600px; /* Mismo tamaño */
  margin-bottom: 40px;
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
  margin-top: 1rem;
}

.button:hover {
  background-color: #0056b3;
}

.admin-item {
  background: #f1f1f1;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-button {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #c9302c;
}

/* Responsividad */
@media (max-width: 768px) {
  .form-and-list {
    flex-direction: column; 
    align-items: center; 
  }

  .form-container-admin,
  .admin-list {
    max-width: 100%;
    margin-right: 0; 
    margin-bottom: 2rem; 
  }
}


