.ContainerService{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

@media (max-width: 1250px) {
    .ContainerService {
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
    }
}

@media (max-width: 600px) {
    .ContainerService {
        grid-template-columns: 1fr;
    }
}