/* Header.css */
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

.custom-navbar {
    background-color: white !important;
}
  
.custom-navbar .navbar-collapse {
    background-color: white !important;
    width: 100%;
}
  
.custom-navbar .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-between; /* Distribuye los elementos de manera uniforme */
    align-items: center; /* Alinea los elementos verticalmente al centro */
    padding-right: 90px;
    padding-left: 90px;
 }

.custom-navlink {
    font-family: 'Prata', serif;
}

.custom-navScroll{
    font-family: 'Prata', serif;
}

.custom-navlink:hover {
    text-decoration: underline; 
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px; 
    margin-top: 10px; 
}
  

  
  