.container-history {
  padding: 2rem;
  min-height: 600px;
  background-color: #f0f4f8;
  font-family: 'Arial', sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #092034;
}

.container-table {
  overflow-x: auto; /* Permite el desplazamiento horizontal en pantallas pequeñas */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

thead {
  background-color: #5598c4; /* Fondo original */
  color: white;
}

th, td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

tr:hover {
  background-color: #f1f1f1;
}

.button-delete {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-delete:hover {
  background-color: #c9302c;
}

@media screen and (max-width: 600px) {
    table, thead, tbody, th, td, tr {
      display: block;
      width: 100%;
    }
  
    thead {
      display: none;
    }
  
    tbody tr {
      margin-bottom: 15px;
    }
  
    tbody td {
      text-align: right;
      padding-left: 50%;
      position: relative;
    }
  
    tbody td::before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 15px;
      font-weight: bold;
      text-align: left;
    }
}
  