.ContainerInfoLocation {
    display: flex;
    justify-content: center;
    margin-top: 170px;
    margin-bottom: 60px;
    padding: 0 20px;
  }
  
  .titleLocation {
    font-family: 'Prata', serif;
    font-size: 40px;
    color: #f44414;
    font-weight: 600;
    text-align: center;
  }
  
  .ContainerMapInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
  }
  
  .ContainerLocation {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
  }
  
  .ContainerMap iframe {
    width: 100%;
    border: 0;
  }
  
  @media (min-width: 768px) {
    .ContainerLocation {
      grid-template-columns: 1fr 2fr;
      padding-left: 50px;
    }
  
    .ContainerMap iframe {
      height: 600px;
    }
  }
  